<section
  class="bg-[length:200%] bg-no-repeat py-16 sm:py-20 xl:bg-[length:150%] xl:bg-[140%_85%]"
  style="background-image: url(/assets/hero-background.webp)"
>
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          By utilizing the most recent market data, our models dynamically adjust to reflect current
          market trends, ensuring accurate and fair price estimates for our users. When purchasing
          products or services, thnkrAI empowers you to make informed decisions by providing
          up-to-date and personalized pricing information.
        </p>
        <a
          href="/about"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
        >
          Read more about us
        </a>
      </div>
    </div>
  </div>
</section>
